#autocollapse {
	background-color: #aeaeae;
	
	border-bottom: 1px;
}

#autocollapse a{
	color: #6b6b6b;
}

 div#navbar a.active{
	color: white;
	background-color: #aeaeae;
}
#e-vdc-documentation{
	color: #337ab7;
}